{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Flasky{% endblock %}
{% block page_content %}

{%if my_session%}
    <p>session: {{my_session.session}}</p>
    <p>csrf_token: {{my_session.get('csrf_token')}}</p>
    <p>session.name: {{my_session.get('name')}}</p>
    <p>session.gender: {{my_session.get('gender')}}</p>
    <p>session.email: {{my_session.get('email')}}</p>
{%endif%}

<div class="page-header">
    <h1>Hello,
        {% if name %}
            {{name}}
        {% else %}
            Stranger
        {% endif %}
    </h1>
</div>

<!--this will pring the formObject we created in the NameForm class-->
{{wtf.quick_form(form)}}
<hr>
<h3>Another way of doing the form</h3>
<form method="post">
    {{form.hidden_tag()}}
    {{form.name.label}} {{form.name(id='my-text-field')}}
    {{form.email.label}} {{form.email}}
    {{form.gender.label}} {{form.gender}}
    {{form.submit}}
</form>
{% endblock %}
