{% import "bootstrap/wtf.html" as wtf %}
hello...

<p>session: {{my_session.session}}</p>
<p>csrf_token: {{my_session.get('csrf_token')}}</p>
<p>session.name: {{my_session.get('name')}}</p>
<p>session.gender: {{my_session.get('gender')}}</p>
<p>session.email: {{my_session.get('email')}}</p>

<div class="page-header">
    <h1>Hello,
        {% if my_session.get('name') %}
        {{session.get('name')}} <br>
        {{session.get('email')}} <br>
        {{session.get('gender')}} <br>

        {% else %}
        Stranger
        {% endif %}
    </h1>
</div>